!##############################################################################
! .Xresources
!##############################################################################

! colors
!##############################################################################
! GNU cpp does not access environment variables, so this is hardcoded
! https://unix.stackexchange.com/q/347624/7430
#include "/home/ldh/.cache/wal/colors.Xresources"


! Fonts, general
!##############################################################################
! xterm; see $XDG_CONFIG_HOME/fontconfig/fonts.conf for specific font resolution
*faceName: monospace:size=12


! URxvt
!##############################################################################
! Generalized font declaration, defined concretely in $XDG_CONFIG_HOME/fontconfig/fonts.conf
! 'monospace' is resolved by fontconfig, and then we list fallbacks for other glyphs
URxvt.font: xft:monospace:size=12,xft:Meslo LG S for Powerline:size=12
URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading: 20
